header {
    background-color: #1B1B1B;
    color: #E0E0E0;
    text-align: left;
    padding: 20px 0;
    padding-left: 10px;
    font-size: 28px;
    width: 100vw;
}

body {
    background-color: #333333;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    margin-left: 10px;
}

table {
    width: 40%;
    border-collapse: collapse;
    color: #F8F0E3;
}

th, td {
    border: 1px solid white; 
    padding: 10px;
    text-align: center;
}

th {
    background-color: #14274A;  
}

h1, h2, p {
    color: #F8F0E3;
}
